/*start topbar*/
.topbar{
    background-color: rgba(110, 25, 117, 0.952);
    padding:0 10px;
}
.topbar .left-p{
    padding: 5px 5px 0 5px;
}
.topbar-right{
    float: right;
}
.topbar-right div{
    display: inline-block;
    float: right;
    border-left: 1px solid #ffffff;
    height: 45px;
    padding: 5px;
}
.topbar-right p{
    display: inline-block;
    float: right;
    padding: 5px 5px 0 5px;
}
/*end topbar*/

/*logo start*/
.logo{
    height: 110px;
}
.logo_left{
    line-height: 110px;
}
.logo_search{
  padding-top: 45px;
}
.logo_search input{
    width: 70%;
    border: 1px solid rgb(204, 190, 190);
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}
.logo_search button{
    border: 1px solid rgb(204, 191, 191);
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}
.logo1{
    border-right: 1px solid rgb(216, 196, 196);
    padding-right: 10px;
    margin-right: 10px;
}
.logo_right{
    padding-top: 30px;
}
/*logo end*/
/*menu part start*/
.menu1 ul li a{
    font-size: 15px;
}
.menu1 ul li a:hover{
    background-color: rgb(17, 136, 33);
}
/*menu part end*/

/*hero part start*/
.banner img{
    border: 2px solid red;
    padding: 10px;
}
.slider{
    height: 350px;
    padding: 5px;
}
/*hero part end*/